$header-background-color: rgba(0, 0, 0, 0.8);


header{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: $header-background-color;
}

.titleContainer,.viewCart {
    a,button{
        display: flex;
        align-items: center;
        padding: 12px 36px;
        text-decoration: none;
        font-size: 28px;
        color: rgba(162, 171, 160, 0.8);
        
        svg {
            margin-left: 8px;
            font-size: 30px;
        }
    /*
        &:hover {
            background-color: rgba(88, 92, 130, 0.8)
        }
        */
    }

}

.viewCart{
    display: flex;
    button{
        cursor : pointer;
        font-size : 16px;
        margin: auto;
        background-color: unset;
        border: unset;
        
        span{
            padding-right: 10px;
            &[data-items]::after{
                position: relative;
                content: attr(data-items);
                font-size: 12px;
                background-color: red;
                padding: 2px 4px;
                border-radius: 50%;
                top: -8px;
                right: -4px;
            }
        }
        
    }
}




.searchProductContainer {
    align-self: center;
    flex-grow: 1;

    form{
        position: relative;
        display: flex;
        max-width: 100%;
        margin: 0 80px;
        justify-content: center;

        input {
            flex-grow: 1;
            padding: 8px 56px 8px 16px;
            border: transparent;
            border-radius: 2px;
            font-size: 15px;
            color: rgba(79, 78, 78, 0.897);
            outline: rgba($color: $header-background-color, $alpha: 0.5);
            max-width: 500px;
        }

        button[type="submit"] {
            background-color: rgb(235, 197, 181);
            position: relative;
            right: 36px;
            padding-right: 8px !important;
            padding-left: 8px !important;
            border: unset;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            cursor: pointer;
        }
        
    }

}

// Media Queries
@media screen and (max-width:768px) {

    .titleContainer,.viewCart {
        a, button {
            font-size: 22px;
            padding: 14px 16px;
        }
    }

    .viewCart {
        a, button {
            font-size: 16px;
        }
    }

    .searchProductContainer {
        form {
            margin: 0 0px;
        }
    }
}

@media screen and (max-width:450px) {
    .viewCart {
        a span:first-child,
        button span:first-child {
            display: none;
        }
    }
    .searchProductContainer {
        form {
            display: none;
        }
        form + svg {
            margin-left: auto;
            display: block;
        }
    }
}

.user-actions {
    display: flex;
    align-items: center;

    button {
        color: $white;
        background-color: unset;
        border: unset;
        margin: 0 10px;
        cursor: pointer;
    }
}

